<div class="card p-6">
  <!--PROJECTS TABLE TOOLBAR-->
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <div class="my-2">
        <button (click)="openNew()" class="p-button-success mr-2" icon="pi pi-plus" label="New" pButton
                pRipple></button>
      </div>
    </ng-template>

    <ng-template pTemplate="right">
      <button (click)="customersTable.exportCSV()" class="p-button-help" icon="pi pi-upload" label="Export" pButton
              pRipple></button>

    </ng-template>
  </p-toolbar>

  <!--PROJECTS TABLE-->
  <p-table #customersTable [(selection)]="selectedCustomers"
           [columns]="[]"
           [paginator]="true"
           [rowHover]="true"
           [rowsPerPageOptions]="rowsPerPageOptions"
           [rows]="10"
           [showCurrentPageReport]="true" [value]="customers"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" dataKey="id"
           selectionMode="multiple"
  >

    <!--PROJECTS TABLE CAPTION-->
    <ng-template pTemplate="caption">
      <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
        <h5 class="m-0">Manage your customers</h5>
        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input (input)="onSearch()" [(ngModel)]="searchQuery" class="w-full sm:w-auto" pInputText
                                   placeholder="Search..."
                                   type="text"/>
                        </span>
      </div>
    </ng-template>

    <!--PROJECTS TABLE HEADER-->
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="first_name">First name
          <p-sortIcon field="first_name"></p-sortIcon>
        </th>
        <th pSortableColumn="last_name">Last name
          <p-sortIcon field="last_name"></p-sortIcon>
        </th>
        <th pSortableColumn="phone">Phone
          <p-sortIcon field="phone"></p-sortIcon>
        </th>
        <th pSortableColumn="email">Email
          <p-sortIcon field="email"></p-sortIcon>
        </th>
        <th pSortableColumn="status">Status
          <p-sortIcon field="status"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>

    <!--PROJECTS TABLE BODY-->
    <ng-template let-customer pTemplate="body">
      <tr>
        <td>
          <p-tableCheckbox [value]="customer"></p-tableCheckbox>
        </td>
        <td>{{ customer.first_name }}</td>
        <td>{{ customer.last_name }}</td>
        <td>{{ customer.phone ?? '-' }}</td>
        <td>{{ customer.email ?? '-' }}</td>
        <td>
              <span
                [class]="'product-badge status-' + (customer.status?.toLowerCase() ?? '')">{{ customer.status }}</span>
        </td>
        <td>
          <div class="flex justify-content-end">
            <button (click)="showCustomerForm(customer)" [disabled]="!canEditCustomer(customer)" class="p-button-text"
                    label="Edite" pButton
                    pRipple></button>
          </div>

        </td>
      </tr>
    </ng-template>

    <!--PROJECTS TABLE EMPTY MESSAGE-->
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">
          <div class="w-full flex justify-content-center align-items-center h-30rem">
            <span class="text-2xl">There are no customer yet.</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

