<div class="card mb-0 hover:shadow-lg duration-[400ms] cursor-pointer">
    <div class="flex justify-between mb-4">
        <div>
            <span class="block text-surface-500 dark:text-surface-300 font-medium mb-4">{{ land?.title }}</span>
            <div
                    class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{ land?.price | currency:'FCFA':'symbol':'4.0-0':'fr' }}
            </div>
        </div>
        <div (click)="editLand()"
             [ngStyle]="{width: '2.5rem', height: '2.5rem'}"
             class="flex items-center justify-center bg-primary-300 rounded-border hover:shadow-lg duration-[400ms] cursor-pointer">
            <i class="pi pi-pencil text-primary-800 text-xl"></i>
        </div>
    </div>
    <span class="text-green-500 font-medium">%52+ </span>
    <span class="text-surface-500 dark:text-surface-300">{{ land?.description }}</span>
</div>
