<div class="flex justify-between mb-6 items-center pl-1">
  <h5 class="m-0 text-2xl">Project Details</h5>
  <p-button (click)="editProject()" icon="pi pi-pencil" label="Edit" text
  ></p-button>
</div>
<div class="card p-4">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-4">
    <div class="col">
      <h6 class="text-gray-500">Title</h6>
      <p class="text-surface-900 dark:text-surface-0 text-xl">{{ project?.title }}</p>
    </div>
    <div class="col">
      <h6 class="text-gray-500">Status</h6>
      <p class="text-surface-900 dark:text-surface-0 text-xl">{{ project?.status }}</p>
    </div>
    <div class="col">
      <h6 class="text-gray-500">Created At</h6>
      <p class="text-surface-900 dark:text-surface-0 text-xl">{{ project?.created_at | date: 'medium' }}</p>
    </div>
    <div class="col">
      <h6 class="text-gray-500">Number of lands</h6>
      <p class="text-surface-900 dark:text-surface-0 text-xl">{{ project?.lands_count }}</p>
    </div>
    <div class="col">
      <h6 class="text-gray-500">Description</h6>
      <p class="text-surface-900 dark:text-surface-0 text-sm">{{ project?.description ?? 'No description' }}</p>
    </div>
  </div>
</div>


<div class="flex align-middle mb-4">
  <h5 class="text-3xl m-0 mr-2">Lands</h5>
  <p-button (click)="addNewLandToProject()" icon="pi pi-plus" label="Add Label" text
  ></p-button>

</div>

@if (project?.lands?.length) {
  <div class="grid grid-cols-12 gap-4">
    @for (land of project?.lands; track land.id) {
      <div class="col-span-12 lg:col-span-6 xl:col-span-3">
        <app-land-item [land]="land" (onEdit)="getProject()"></app-land-item>
      </div>
    }
  </div>
} @else {

  <div class="h-40">
    <div class="flex justify-center items-center h-full">
      <h1>No lands found</h1>
    </div>
  </div>

}


