<div class="flex justify-content-between mb-4 align-items-center pl-1">
  <h5 class="m-0 text-2xl">Project Details</h5>
  <button (click)="editProject()" class="p-button-text" icon="pi pi-pencil" label="Edit" pButton pRipple></button>
</div>
<div class="card p-3">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
    <div class="col">
      <h6 class="text-gray-500">Title</h6>
      <p class="text-900 text-xl">{{ project?.title }}</p>
    </div>
    <div class="col">
      <h6 class="text-gray-500">Status</h6>
      <p class="text-900 text-xl">{{ project?.status }}</p>
    </div>
    <div class="col">
      <h6 class="text-gray-500">Created At</h6>
      <p class="text-900 text-xl">{{ project?.created_at | date: 'medium' }}</p>
    </div>
    <div class="col">
      <h6 class="text-gray-500">Number of lands</h6>
      <p class="text-900 text-xl">{{ project?.lands_count }}</p>
    </div>
    <div class="col">
      <h6 class="text-gray-500">Description</h6>
      <p class="text-900 text-sm">{{ project?.description ?? 'No description' }}</p>
    </div>
  </div>
</div>

<div class="pl-1">
  <h5 class="mt-4">Lands</h5>
  <div class="grid">
    <!--Add button-->
    <div class="col"></div>
  </div>
</div>
