<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
    <div>
      <img alt="Sakai logo"
           class="mb-5 w-6rem flex-shrink-0"
           height="63"
           ngSrc="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg"
           priority
           width="85">
    </div>
    <div
      style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
      <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
        <div class="text-center mb-5">
          <span class="text-600 font-medium">Sign in to continue</span>
        </div>

        <form>
          <div>
            <!--FIRST NAME-->
            <label class="block text-900 text-xl font-medium mb-2" for="fistName">First name </label>
            <input [(ngModel)]="user.first_name" class="w-full md:w-30rem mb-5 p-3" id="fistName" name="fistName"
                   pInputText
                   placeholder="First name"
                   type="text">

            <!--LAST NAME-->
            <label class="block text-900 text-xl font-medium mb-2" for="lastName">Last name </label>
            <input [(ngModel)]="user.last_name" class="w-full md:w-30rem mb-5 p-3" id="lastName" name="lastName"
                   pInputText
                   placeholder="Last name"
                   type="text">

            <!--USERNAME-->
            <label class="block text-900 text-xl font-medium mb-2" for="username">Username </label>
            <input [(ngModel)]="user.username" class="w-full md:w-30rem mb-5 p-3" id="username" name="username"
                   pInputText
                   placeholder="Username"
                   type="text">

            <!--EMAIL-->
            <label class="block text-900 text-xl font-medium mb-2" for="email">Email </label>
            <input [(ngModel)]="user.email" class="w-full md:w-30rem mb-5 p-3" id="email" name="email"
                   pInputText
                   placeholder="Email"
                   type="text">

            <!--PASSWORD-->
            <label class="block text-900 font-medium text-xl mb-2" for="password">Password</label>
            <p-password [(ngModel)]="user.password" [toggleMask]="true" id="password"
                        inputStyleClass="w-full p-3 md:w-30rem"
                        name="password"
                        placeholder="Password"
                        styleClass="mb-5"></p-password>

            <!--PASSWORD CONFIRMATION-->
            <label class="block text-900 font-medium text-xl mb-2" for="passwordConfirmation">Password
              confirmation</label>
            <p-password [(ngModel)]="user.passwordConfirmation" [toggleMask]="true" id="passwordConfirmation"
                        inputStyleClass="w-full p-3 md:w-30rem"
                        name="passwordConfirmation"
                        placeholder="Password confirmation"
                        styleClass="mb-5"></p-password>


            <div class="flex align-items-center justify-content-end mb-5 gap-5">
              <a [routerLink]="'/login'" class="font-medium no-underline ml-2 text-right cursor-pointer"
                 style="color: var(--primary-color)">
                Already have an account
              </a>
            </div>

            <!--REGISTER BUTTON-->
            <button (click)="signUp()" [disabled]="!validatedData()" class="w-full p-3 text-xl" label="Sign Up"
                    name="login" pButton
                    pRipple></button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>



