<form [formGroup]="customerForm">
  <div class="flex flex-col gap-6">
    <div>
      <label class="block font-bold mb-3" for="first_name">First name</label>
      <input autofocus fluid formControlName="first_name" id="first_name" name="first_name" pInputText required
             type="text"/>
      @if (hasError('first_name')) {
        @if (hasError('first_name', 'required')) {
          <small class="ng-dirty ng-invalid mt-1 p-error">First name is required.</small>
        }
      }
    </div>

    <div>
      <label class="block font-bold mb-3" for="last_name">Last name</label>
      <input autofocus fluid formControlName="last_name" id="last_name" name="last_name" pInputText required
             type="text"/>
      @if (hasError('last_name')) {
        @if (hasError('last_name', 'required')) {
          <small class="ng-dirty ng-invalid mt-1 p-error">Last name is required.</small>
        }
      }
    </div>

    <div>
      <label class="block font-bold mb-3" for="email">Email</label>
      <input autofocus fluid formControlName="email" id="email" name="email" pInputText required type="text"/>
      @if (hasError('email')) {
        @if (hasError('email', 'email')) {
          <small class="ng-dirty ng-invalid mt-1 p-error">Enter a valid email .</small>
        }
      }
    </div>

    <div>
      <label class="block font-bold mb-3" for="phone">Phone</label>
      <input autofocus fluid formControlName="phone" id="phone" name="phone" pInputText required type="text"/>
    </div>
  </div>
</form>

<div class="flex justify-between mt-4">
  <p-button (click)="close()" icon="pi pi-times" label="Cancel"/>
  <p-button (click)="saveCustomer()" [disabled]="customerForm.invalid"
            icon="pi {{saving ? 'pi-spin pi-spinner': 'pi-check'}}"
            label="Save"/>
</div>


