<div class="">
  <!--PROJECTS TABLE TOOLBAR-->
  <p-toolbar styleClass="mb-6">
    <ng-template #start>
      <p-button (onClick)="openNew()" class="mr-2" icon="pi pi-plus" label="New" severity="primary"/>
    </ng-template>

    <ng-template #end>
      <p-button (onClick)="exportCSV()" icon="pi pi-upload" label="Export" severity="primary"/>
    </ng-template>
  </p-toolbar>

  <!--PROJECTS TABLE-->
  <p-table #projectsTable [(selection)]="selectedProjects"
           [columns]="[]"
           [paginator]="true"
           [rowHover]="true"
           [rowsPerPageOptions]="rowsPerPageOptions"
           [rows]="10"
           [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '75rem' }"
           [value]="projects" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           dataKey="id"
           selectionMode="multiple">

    <!--PROJECTS TABLE CAPTION-->
    <ng-template #caption>
      <div class="flex items-center justify-between">
        <h5 class="m-0">Manage projects</h5>
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search"/>
          <input (input)="onSearch()" [(ngModel)]="searchQuery" pInputText placeholder="Search..." type="text"/>
        </p-iconfield>
      </div>
    </ng-template>

    <!--PROJECTS TABLE HEADER-->
    <ng-template #header>
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="created_at">Created At
          <p-sortIcon field="created_at"></p-sortIcon>
        </th>
        <th pSortableColumn="title">Title
          <p-sortIcon field="title"></p-sortIcon>
        </th>
        <th pSortableColumn="lands_count">Number of Lands
          <p-sortIcon field="lands_count"></p-sortIcon>
        </th>
        <th pSortableColumn="status">Status
          <p-sortIcon field="status"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>

    <!--PROJECTS TABLE BODY-->
    <ng-template #body let-project>
      <tr>
        <td>
          <p-tableCheckbox [value]="project"></p-tableCheckbox>
        </td>
        <td>{{ project.created_at| date: 'dd/MM/yyyy HH:mm:ss' }}</td>
        <td>{{ project.title }}</td>
        <td>{{ project.lands_count }}</td>
        <td>
              <span
                [class]="'product-badge status-' + (project.status?.toLowerCase() ?? '')">{{ project.status }}</span>
        </td>
        <td>
          <div class="flex justify-end">
            <p-button [routerLink]="project.id" class="p-button-text" label="Details"
            ></p-button>
          </div>

        </td>
      </tr>
    </ng-template>

    <!--PROJECTS TABLE EMPTY MESSAGE-->
    <ng-template #emptymessage>
      <tr>
        <td colspan="6i">
          <div class="w-full flex justify-center items-center h-[30rem]">
            <span class="text-2xl">There are no project yet.</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

